.hero {
    margin: 0;
    padding: 1rem;
    position: relative;
    width: 100%;
    background-image: url('../media/media_photos/index/beach-huts-hero-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-bottom: 10px solid #D3FFBD;
}

.hero img {
    padding: 1rem;
    width: 25%;
}

.hero h1 {
    margin: 0;
    padding: 0 1rem 2rem 1rem;
    text-align: center;
    font-size: 200%;
    color: #fff7f7;
}

#guidelines {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

#guidelines img {
    width: 100%;
    height: auto;
}

#weather-icons {
    margin: 5rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

#weather-icons h2 {
    grid-column: span 3;
}

#weather-icons p {
    grid-column: span 3;
    text-align: center;
}

#weather-icons img {
    width: 80%;
}

@media only screen and (min-width: 768px) {
    
    .hero img {
        max-width: 15%;
    }

}

@media only screen and (min-width: 1025px) {
    #guidelines {
        margin: 5rem;
        grid-template-columns: repeat(3, 1fr);
    }
    
    #guidelines :nth-child(2) {
        grid-column: span 3;
    }

    #guidelines h2 {
        grid-column: span 3;
    }

    #weather-icons {
        margin: 5rem;
        grid-template-columns: repeat(9, 1fr);
    }

    #weather-icons h2 {
        grid-column: span 9;
    }
    
    #weather-icons p {
        grid-column: span 9;
    }

}