.hero {
    margin: 0;
    padding: 1rem;
    position: relative;
    width: 100%;
    background-image: url('../media/media_photos/index/beach-huts-hero-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-bottom: 10px solid #D3FFBD;
}

.hero img {
    padding: 1rem;
    max-width: 25%;
}

.hero h1 {
    margin: 0;
    padding: 0 1rem 2rem 1rem;
    text-align: center;
    font-size: 200%;
    color: #fff7f7;
}

h2 {
    margin: 5rem 1rem 1rem 1rem
}

h3 {
    text-align: center;
    margin: 5rem 1rem 1rem 1rem;
}

#intro {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    text-align: center;
}    

#intro ul {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    list-style: none;
}        

#intro ul a {
    text-decoration: none;
    font-size: 105%;
    font-weight: 500;
    color: #fff7f7
}        

#intro ul a li {
    margin: auto;
    padding: 0.5rem;
    background-color: #21295c;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}        

#intro ul a li:hover {
    background-color: #3b4583;
    transform: scale(1.025);
}        

.large-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}    

.list-item {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}    

.list-item img {
    width: 100%;
    padding-bottom: 1rem;
    order: -1;
    border-radius: 1rem 1rem 0 0;
}    

.list-item figcaption h4 {
    margin: 0 0 1rem 0;
    font-size: 120%;
}    

.list-item figcaption p {
    margin: 0 0 1rem 0;
}    

#watersports {
    background-color: #D3FFBD;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}    

#watersports figure {
    background-color: #fff7f7;
    border-radius: 1rem;
}    

#watersports h4 {
    margin: 1rem;
    text-align: center;
}    

#watersports p {
    margin: 1rem;
    text-align: center;
}    

#watersports figure h4 {
    text-align: left;
}

#watersports figure p {
    text-align: left;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}    

.tags p {
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 90%;
    font-weight: 800;
    color: #6a9654;
    background-color: #D3FFBD;
    border: 4px solid #8dbb76;
    border-radius: 15rem;
}    

#booking-info {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#booking-info p {
    text-align: center;
}

#booking-info li {
    padding-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
    
    .hero img {
        max-width: 15%;
    }
}

@media only screen and (min-width: 1025px) {
    #intro {
        gap: 1rem;
    }
    
    #intro ul {
        margin: 0 15rem;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        gap: 3rem;
    }

    #intro ul a li {
        padding: 1rem;
        height: 100%;
        display: grid;
        align-items: center;
    }

    .list-item {
        grid-template-columns: 2fr 1fr;
        align-items: center;
        grid-auto-rows: 1fr;
        border-radius: 1.3rem;
    }

    .list-item figcaption h4 {
        margin: 1rem 0;
    }

    .list-item img {
        padding-bottom: 0;
        order: 1;
        width: 100%;
        height: 100%;
        border-radius: 0 1rem 1rem 0;
        object-fit: cover;
    }

}

@media only screen and (min-width: 1365px) {

    #lc-relax,
    #lc-natural {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    #lc-rec,
    #lc-culture,
    #lc-wildlife {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .large-container #watersports {
        grid-column: span 3;
    }

    #watersports {
        background-color: #D3FFBD;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    #watersports h4 {
        grid-column: span 3;
    }

    #watersports p {
        grid-column: span 3;
    }

    #watersports figure {
        background-color: #fff7f7;
        border-radius: 1.2rem;
    }

    .list-item {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        align-items: start;
        gap: 0;
    }

    .list-item img {
        margin-bottom: 0;
        width: 100%;
        order: -1;
        border-radius: 1rem 1rem 0 0;
    }

    .list-item figcaption {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .tags {
        align-self: end;
    }
}