.hero {
    margin: 0;
    padding: 1rem;
    position: relative;
    width: 100%;
    background-image: url('../media/media_photos/index/beach-huts-hero-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-bottom: 10px solid #D3FFBD;
}

.hero img {
    padding: 1rem;
    max-width: 25%;
}

.hero h1 {
    margin: 0;
    padding: 0 1rem 2rem 1rem;
    text-align: center;
    font-size: 200%;
    color: #fff7f7;
}

#intro {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    text-align: center;
}

#intro ul {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    list-style: none;
}

#intro ul a {
    text-decoration: none;
    font-size: 105%;
    font-weight: 500;
    color: #fff7f7
}

#intro ul a li {
    margin: auto;
    padding: 0.5rem;
    background-color: #21295c;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

#intro ul a li:hover {
    background-color: #3b4583;
    transform: scale(1.025);
}

#tags-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cuisine-tag-filter {
    width: fit-content;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 90%;
    font-weight: 600;
    color: #60a53d;
    background-color: #D3FFBD;
    border: 2px solid #74bb50;
    border-radius: 10rem;
}

#ambiance-tag-filter {
    width: fit-content;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 90%;
    font-weight: 600;
    color: #d43636;
    background-color: #ffd0d0;
    border: 2px solid #e95656;
    border-radius: 10rem;
}

.dining-container {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
}

.restaurant {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.restaurant img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.cuisine-tags,
.ambiance-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cuisine-tags p {
    margin-right: 0.5rem;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 90%;
    font-weight: 600;
    color: #60a53d;
    background-color: #D3FFBD;
    border: 2px solid #74bb50;
    border-radius: 10rem;
}

.ambiance-tags p {
    margin-right: 0.5rem;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 90%;
    font-weight: 600;
    color: #d43636;
    background-color: #ffd0d0;
    border: 2px solid #e95656;
    border-radius: 10rem;
}


.dresscode-tags {
    width: fit-content;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 90%;
    font-weight: 600;
    color: #21295c;
    background-color: #bdc6ff;
    border: 2px solid #434e96;
    border-radius: 10rem;
}

.reso-tags {
    width: fit-content;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 90%;
    font-weight: 600;
    color: #20868a;
    background-color: #bdfdff;
    border: 2px solid #36a9ad;
    border-radius: 10rem;
}

#other-options-container {
    margin: 5rem 1rem;
}

@media only screen and (min-width: 615px) {
    
    #tags-list {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
}
    @media only screen and (min-width: 768px) {
    
    .hero img {
        max-width: 15%;
    }
}

@media only screen and (min-width: 1000px) {

    h4 {
        margin: 0 1rem;
    }
    
    .dining-container {
        gap: 5rem;
    }

    .restaurant {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-auto-rows: 1fr;
    }

    .restaurant figcaption h3 {
        margin: 1rem;
    }
    .restaurant figcaption p {
        margin: 1rem;
    }
    .restaurant figcaption ul {
        margin: 1rem;
    }

    .restaurant figcaption a button {
        border-radius: 0 0 0 1rem;
    }

    .restaurant img {
        padding-bottom: 0;
        order: 1;
        width: 100%;
        height: 100%;
        border-radius: 0 1rem 1rem 0;
        object-fit: cover;
    }

    #poolside-cafe img {
        object-position: 10% 90%;
    }

    #other-options-container figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 0;
    }

}

@media only screen and (min-width: 1125px) {
    #intro {
        gap: 1rem;
    }
    
    #intro ul {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 1fr;
    }

    #intro ul a li {
        padding: 1rem;
        height: 100%;
        display: grid;
        align-items: center;
    }
}

@media only screen and (min-width: 1500px) {
    
    .dining-container {
        margin: 0 5rem;
    }

    #other-options-container {
        margin: 5rem 25rem 5rem 25rem;
    }
}