.hero {
    margin: 0;
    padding: 1rem;
    position: relative;
    width: 100%;
    background-image: url('../media/media_photos/index/beach-huts-hero-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero img {
    padding: 1rem;
    width: 25%;
}

.hero h1 {
    margin: 0;
    padding: 0 1rem 2rem 1rem;
    text-align: center;
    font-size: 200%;
    color: #fff7f7;
}

#escape-paradise {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

#escape-paradise p {
    padding-bottom: 0.5rem;
    text-align: center;
}

#escape-paradise img {
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
}

#escape-paradise a button {
    margin: 0;
    border-radius: 0 0 1rem 1rem;
}

#info-grid {
    margin: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

#info-grid h2 {
    padding-bottom: 0.5rem;
}

.info-cells {
    margin: 0;
    padding: 1rem;
}

.info-cells img {
    padding: 2rem;
    width: 40%;
    background-color: #21295c;
    border-radius: 50rem;
    overflow: visible;
}

.info-cells h3 {
    margin: 1rem 0 0.5rem 0;
}

.info-cells p {
    margin: 0 1rem;
}

#home-rooms {
    margin: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

#home-rooms h2 {
    margin-bottom: 0.5rem;
}

.home-room-grid {
    margin: 0;
    background-color: #21295c;
    border-radius: 1rem;
}

.home-room-grid img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #D3FFBD;
    border-radius: 1rem 1rem 0 0;
}

.home-room-grid figcaption {
    padding: 0 1rem 1rem 1rem;
}

.home-room-grid h3 {
    color: #fff7f7;
}

.home-room-grid p {
    padding-bottom: 1rem;
    color: #D3FFBD;
}

.home-room-grid button {
    background-color: #fff7f7;
    color: #21295c;
}

#home-testimonial-grid {
    margin: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.testimonial {
    margin: 0;
    border: 3px solid #21295c;
    border-radius: 1rem;
}

.testimonial h3 {
    padding: 0 1rem;
    text-align: center;
}

.testimonial p {
    margin: 0;
    padding: 1rem;
    background-color: #21295c;
    color:#D3FFBD;
    border-radius: 0 0 0.5rem 0.5rem;
}